AddDefaultCharset utf-8

RewriteEngine on
# RewriteBase /testPegas/  если лежит локально в папке 
RewriteBase /
#ErrorDocument 404 http://www.site.ru/404.php
#RewriteRule ^template/([a-z]+)/(.*)$ template/$1/$2 [L]﻿
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ index.php

